name: Release Myna Password Manager Console
on:
  push:
   tags:
      - "v*"
jobs:
  build:
    runs-on: windows-latest
    env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
    - name: Checkout MynaPasswordManagerConsole
      uses: actions/checkout@v4
      with:
        path: 'MynaPasswordManagerConsole'
    - name: Checkout CloudExport project
      uses: actions/checkout@v4
      with:
        repository: 'nylssoft/MynaCloudExport'
        path: 'MynaCloudExport'
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Publish
      run: |
        cd MynaPasswordManagerConsole
        dotnet publish -c Release
    - name: Create release ZIP file
      run: Compress-Archive -Path MynaPasswordManagerConsole/bin/Release/net10.0/publish/* -Destination "MynaPasswordManagerConsole-${{ github.ref_name }}.zip"
    - name: Create github release
      run: gh release create "${{ github.ref_name }}" "MynaPasswordManagerConsole-${{ github.ref_name }}.zip"
